@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, sans-serif;
  background-color: #000;
  color: #fff;
}
